<style>
    *{
        margin: 0;
        padding: 0;
    }
    .schedule-title{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .schedule-date{
        margin-bottom: 20px;
    }
    .schedule-description{
        margin-bottom: 20px;
    }
    .schedule-local{
        margin-bottom: 20px;
    }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agenda</title>
<a href="/logout" style="display:flex; justify-content:flex-end;">Logout</a>
<h1>Agenda</h1>